.gallery{
  text-align: center;
  margin: 2px;
}
.image{
  box-sizing: border-box;
  height: 300px;
  width: 450px;
  padding: 5px;
  border: 7px solid chocolate;
  border-radius: 4%;
  margin: 5px;
  background-color: greenyellow;
}